{% extends "layout_bulma.html" %}
{% block body %}
<div id="timer"></div>

<h1 id="ram">!!! राम, राम !!!</h1>

    <script>
    $().ready(function(){
      console.log("!!! राम Ram !!!");

    });
    </script>
{% endblock %}
