{% extends "layout.html" %}
{% block page_title %}send and clear{% endblock %}
{% block head %}
<style>
    .num{
        display: inline;
        visibility: hidden;
    }
</style>
{% endblock %}
{% block body %}
<div>
    <div class="container"></div>
    <div id="wait">Please wait ...</div>
    <div class="num" id="0">0</div>
    <div class="num" id="1">1</div>
    <div class="num" id="2">2</div>
    <div class="num" id="3">3</div>
    <div class="num" id="4">4</div>
    <div class="num" id="5">5</div>
    <div class="num" id="6">6</div>
    <div class="num" id="7">7</div>
    <div class="num" id="8">8</div>
    <div class="num" id="9">9</div>
    <div class="num" id="10">10</div>

</div>
<section>
  <div id='timer' value=""></div>
  <div id="msg" style="display: none; color: #001010;">Done</div>
</section>
<section>
    <input id="txt_no" value="~~~ TATA ~~~" disabled>
</section>
<script>
$().ready(function(){
    var cnt = 10;
    var x = setInterval(function() {
        if (cnt <=0) {
            $(document).prop('title', "!!! Done !!!");
            $("#msg").show();
            $("#msg").css('color', 'green');
            $("#wait").hide();
            $("#txt_no").removeAttr("disabled");
            $( ".container" ).append( "<strong id='swagatam'>!!! स्वागतम् !!!</strong>" );
            clearInterval(x);
        }
        $(document).prop('title', cnt);
        $("#timer").val(cnt);
        $("#" + cnt).css("visibility", "visible");
        $("#timer").text(cnt--);

    }, 1000);
});
</script>
{% endblock %}
