{% extends "layout.html" %}
{% block page_title %}send and clear{% endblock %}
{% block head %}
<script src="{{ url_for('static', filename='jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
 <link rel="stylesheet" href="'jquery-ui-1.12.1.custom/jquery-ui.min.css') }}"/>
<style>
    #draggable { border-color: red; border: 1em; width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
    #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
    .ui-draggable, .ui-droppable {
        background-position: top;
    }

</style>
<script>
$(function () {
    $("#draggable").draggable();
    $("#droppable").droppable({
        drop: function (event, ui) {
            $(this)
                    .addClass("ui-state-highlight")
                    .find("p")
                    .html("Dropped!");
        }
    });
});
</script>

{% endblock %}
{% block body %}

<div id="draggable" class="ui-widget-content">
    <p>Drag me to my target</p>
</div>

<div id="droppable" class="ui-widget-header">
    <p>Drop here</p>
</div>

{% endblock %}