{% extends "layout.html" %}
{% block page_title %}send and clear{% endblock %}
{% block body %}
<form class="form-horizontal" action="/form_bootstrap_dropdown"  method="post">
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <p>Cleanest city</p>
        <select id="cleanest" multiple="multiple">
          <option id="Visakhapatnam" selected>Visakhapatnam</option>
          <option id="Surat">Surat</option>
          <option id="Mysore">Mysore</option>
          <option id="Tiruchirapalli">Tiruchirapalli</option>
          <option id="New Delhi Municipal Council" selected>New Delhi Municipal Council</option>
          <option id="Navi Mumbai" value="Navi Mumbai">Navi Mumbai</option>
          <option id="Tirupati" value="Tirupati">Tirupati</option>
          <option id="Bhopal" value="Bhopal">Bhopal</option>
          <option id="Indore" value="Indore" selected>Indore</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
