{% extends "layout.html" %}
{% block page_title %}All in One{% endblock %}

<style>
  background-color: #4CAF50;
}
</style>
{% block body %}

<section>
  <img id="a" src="static/imgs/a.png"/>
  <img id="b" src="static/imgs/b.png"/>
  <img id="c" src="static/imgs/c.png"/>
  <img id="d" src="static/imgs/d.png"/>
</section>

{% endblock %}
