{% extends "layout.html" %}
{% block page_title %}Links Example{% endblock %}

{% block body %}
<div>
<a id="menu" href="/bootstrap_menu" target="_blank">Menu Example</a><hr>
<a id="bulma" href="/bulma" target="_parent">Bulma</a><hr>
<a id="top" href="/popups" target="_top">popups</a><hr>
<a id="sendClear" href="/send_clear" target="_self">Send Clear</a><hr>
<a id="success" href="/success" target="i_popups">Success</a><hr>
<a id="newPopup" href="JavaScript:newPopup('/success');">Open a popup window</a></p>
<hr>
<iframe name="i_popups" allowtranparency="true" frameborder="0" scrolling="no" src="/popups"></iframe>
</div>

<script>
// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=100,width=400,left=300,top=10,resizable=no,scrollbars=no,toolbar=yes,menubar=no,location=no,directories=no,status=no')
}
</script>
{% endblock %}
