{% extends "layout.html" %}
{% block page_title %}send and clear{% endblock %}
{% block head %}
<style>
    .num{
        display: inline;
        visibility: hidden;
    }
</style>
{% endblock %}
{% block body %}
<div>
    <div class="container"></div>
    <div id="wait">Please wait ...</div>
    <div class="num" id="num">10</div>

</div>
<section>
    <div id="parent">Clock:
        <div>---------------------------</div>
        <div id='timer' value=""></div>
        <div id="msg" style="display: none; color: #001010;">Done</div>
    </div>
</section>
<section>

    <input id="txt_no" value="~~~ TATA ~~~" disabled>


</section>
<script>
$().ready(function(){
    var cnt = 10;
    var x = setInterval(function() {
        if (cnt <=0) {

            $( ".container" ).append( "<strong id='swagatam'>!!! स्वागतम् !!!</strong>" );
            clearInterval(x);
        }
        $(document).prop('title', cnt);
        $("#timer").val(cnt);
        $("#" + cnt).css("visibility", "visible");
        $("#timer").text(cnt--);

    }, 1000);
});
</script>
{% endblock %}
