{% extends "layout_bulma.html" %}
{% block body %}
<div class="field">
    <label class="label">Name</label>
    <div class="control">
        <input id="name" class="input name" type="text" placeholder="Text input" value="Test">
    </div>
</div>

<div class="field">
    <label class="label">Username</label>
    <div class="control has-icons-left has-icons-right">
        <input id="username" class="input is-success" type="text" placeholder="Text input" value="bulma">
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
        </span>
    </div>
    <p class="help is-success">This username is available</p>
</div>
<svg width="400" height="180">
    <rect id="my_rect" x="50" y="20" width="150" height="150" style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    Sorry, your browser does not support inline SVG.
</svg>

<div id="imageholder"><object id="ohm" data="static/imgs/ohm_tibeti.svg" width="100%" height="100%" type="image/svg+xml"></object></div>
<script>
    $().ready(function(){
        setTimeout(function(){
            // alert('setTimeout');
            document.getElementById('name').value = "Mayank Johri";
            $('#ohm').remove();
        }, 2000);
    });
</script>

{% endblock %}
